@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url(../../assets/fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: url(../../assets/fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url(../../assets/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Roboto";
  font-weight: 900;
  src: url(../../assets/fonts/Roboto-Black.ttf);
}

@font-face {
  font-family: "Oswald";
  font-weight: 700;
  src: url(../../assets/fonts/Oswald/static/Oswald-SemiBold.ttf);
}

/* root */

/*introduction*/
.intro_layout1 {
  position: absolute;
  top: 35vh;
  left: 45vw;
  width: 100vw;
  height: auto;
  font-family: "Courier New", monospace;
  font-size: 3.1vw;
  transform: scaleX(1.2);
  text-align: left;
  transition: transform 0.3s ease;
}

.intro_layout2 {
  position: absolute;
  top: 135vh;
  left: 15vw;
  width: 100vw;   
  height: auto;
  font-family: "Courier New", monospace;
  font-size: 3.1vw;
  transform: scaleX(1.2);
  text-align: left;
  transition: transform 0.3s ease;
}

.intro_layout3 {
  position: absolute;
  top: 235vh;
  left: 45vw;
  width: 100vw;
  height: auto;
  font-family: "Courier New", monospace;
  font-size: 3.1vw;
  transform: scaleX(1.2);
  text-align: left;
  transition: transform 0.3s ease;
}

.intro_layout4 {
  position: absolute;
  top: 335vh;
  left: 15vw;
  width: 100vw;
  height: auto;
  font-family: "Courier New", monospace;
  font-size: 3.1vw;
  transform: scaleX(1.2);
  text-align: left;
  transition: transform 0.3s ease;
}

#IntroText:hover {
  text-shadow: 0 0 5px rgba(252, 252, 252, 0.8),
    0 0 10px rgba(189, 183, 177, 0.923), 0 0 20px rgba(99, 98, 96, 0.778);
  transform: scaleX(1.2) translateY(-20px);
}

#Guide {
  font-size: 1.5vw;
  transform: scaleX(1);
  width: 12vw;
}

#Guide::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.83);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
}

#Guide:hover::after {
  transform: scaleX(1);
}

.introBackground1 {
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.1) 100%
  );
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.1) 100%
  );
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.introBackground2 {
  -webkit-mask-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.1) 100%
  );
  mask-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.1) 100%
  );
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

/*logo */
.img {
  top: 0px;
  left: 1vw;
  width: 6vw;
  height: auto;
  position: fixed;
  transition: transform 0.8s ease;
  z-index: 4;
}

.img:hover {
  transform: translateY(10px);
}

/* NavBar*/
.NavBar {
  font-family: "Oswald";
  font-weight: 700;
  transform:scaleX(0.95);
  color:rgb(255, 255, 255);
  width: 100vw;
  font-size:clamp(10px, 1vw, 100px);
  top: 0px;
  position: fixed;
  left: 16vw;
  list-style-type: none;
  display: flex;
  gap: 20vw;
  padding: 0;
  margin: 4vh;
  opacity: 0.7;
  z-index: 4;
}

.subpage {
  transition: transform 0.6s ease-in-out;
}

.subpage:hover {
  text-shadow: 0 0 5px rgba(252, 252, 252, 0.8),
    0 0 10px rgba(189, 189, 177, 0.923), 0 0 30px rgba(99, 98, 96, 0.227);
  transform: translateY(-10px);
}

.subpage::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 1.5px;
  background-color: rgb(232, 238, 230);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
}

.subpage:hover::after {
  transform: scaleX(1);
}

/*bottom*/
.Bottom {
  position: absolute;
  width: 100vw;
  height: 30vh;
  top: 400vh;
  background-color: rgba(0, 0, 0, 0.83);
  z-index: 1;
}

.Additional_info1{
  position: absolute;
  z-index: 3;
  color:white;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 2vh;
  top: 5vh;
  left: 10vw;
}

.Additional_info2{
  position: absolute;
  z-index: 3;
  color:white;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 2vh;
  top: 5vh;
  right: 10vw;
}

/*top*/
.Top {
  background: linear-gradient(
    to left,
    rgba(113, 118, 121,0.8) 0%,
    rgba(113, 118, 121, 0.7) 50%,
    rgba(113, 118, 121, 0.6) 90%,
    rgba(113, 118, 121, 0.2) 100%
  );
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 12vh;
  z-index: 4;
}
